// Import page-specific CSS files here.
@import "home";

h1 {
  color: white;
  font-family: 'Anek Malayalam', sans-serif;
  font-size: 200%;
}

.philosopher-card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  margin-top: 25px;
}

h4 {
  color: rgb(34, 34, 34);
  font-weight: bold;
  font-size: 150%;
}

.philosophers-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(20px, 1fr));
  margin-left: 50px;
}

.philosopher-info {
  background-color:#e1e1e1;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-size: larger;
}

.philosopher-name {
  background-color: #cbcbcb;
  padding: 25px;
}

@media (max-width: 768px) {
  .philosophers-container {
    grid-template-columns: repeat(2, minmax(20px, 1fr));
  }
}

@media (max-width: 576px) {
  .philosophers-container {
    grid-template-columns: repeat(1, minmax(20px, 1fr));
  }
}

.philosopher-flex {
  display: flex;
  align-items: center;
}

.philosopher-description {
  flex: 1;
  margin: 25px;
}

.philosopher-avatar {
  margin-left: auto;
}

.myform {
  margin: 25px;
}
