<div class="landing-page">
<div class="mytext">
<p>Tired of boring conversation topics?</p>
<h2>Have dinner with a philosopher!</h2><br>
<%= link_to 'Explore the philosophers in your area', philosophers_path, class: 'mybutton' %>
</div>
</div>
