.navbar {
  background-color: rgb(24, 24, 24);
  overflow: hidden;
  padding: 25px;
}

h1 {
  color: black;
  font-size: 200%;
}

.logo {
  width: 200px;
}

.navbar-toggler-icon, .nav-link {
  color: white;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
