.navbar {
  background-color: #EADBC8;
  overflow: hidden;
  padding: 25px;
}

h1 {
  color: #0F2C59;
  font-size: 200%;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
